@font-face {
  font-family: "TenXun";
  src: url("@/assets/fonts/tenxun.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PanMen";
  src: url("@/assets/fonts/panmen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
