@charset "utf-8";

@import "./normalize.scss";
@import "./mixin.scss";
@import "./effect.scss";
@import "./layout.scss";
@import "./flex.scss";
@import "./fonts.scss";
@import "./common.scss";
@import "./element-variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@include scrollBar;
